@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction.eot');
    src: url('../fonts/junction.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction.woff') format('woff'),
         url('../fonts/junction.ttf') format('truetype'),
         url('../fonts/junction.svg#Junction') format('svg');
    font-weight: normal;
    font-style: normal;
}
