/* @override http://localhost:4000/css/global.css */

body {
	font: 62.5%/1 Lato, serif;
	padding: 0;
	margin: 0;
	color: #2f4430;
    background: #87c980; /* Old browsers */
    background: -moz-linear-gradient(top,  #87c980 0%, #a5d5a6 50%, #87c980 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87c980), color-stop(50%,#a5d5a6), color-stop(100%,#87c980)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #87c980 0%,#a5d5a6 50%,#87c980 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #87c980 0%,#a5d5a6 50%,#87c980 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #87c980 0%,#a5d5a6 50%,#87c980 100%); /* IE10+ */
    background: linear-gradient(top,  #87c980 0%,#a5d5a6 50%,#87c980 100%); /* W3C */
}

i, em {
    font-family: "Lato italic", serif;
}

a {
	color: #2f4430;
    text-decoration:underline;
}

a:hover,
a:focus,
a:active {
    color:#039b0a;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p, pre, ul, ol {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: Forum, "Helvetica Neue";
	font-weight: 400;
	margin-bottom: 0.75em;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.8em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h3 {
	font-size: 2.2em;
}

p, li {
	font-size: 1.6em;
	line-height: 1.3em;
}

p, ul, ol {
	margin-bottom: 1em;
}

li {
	margin-bottom: 0.2em;
}

li li, li p {
	font-size: 1em;
}

ul {
	list-style-type: none;
}

ul li {
	padding-left: 0;
}

code {
	font-family: Monaco, monospace;
	font-size: 0.8em;
	padding: 2px 3px;
	color: #4d4d4c;
}

pre {
	font-size: 10px; /* Fixes odd issue in FF */
	overflow: auto;
	overflow-y: hidden;
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	margin: 0 -2em 2em;
	padding: 1.5em 3em;
	border: 10px solid #dbe5d7;
    border-radius: 17px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.45) inset;
    -moz-box-shadow:    4px 4px 5px rgba(0, 0, 0, 0.45) inset;
    box-shadow:         4px 4px 5px rgba(0, 0, 0, 0.45) inset;
}

pre code {
	position: relative;
	padding: 0;
	display: block;
	border-radius: 0;
	border: 0;
	font-size: 1.2em;
	line-height: 1.2em;
}

header,
footer {
	background-color: #2f4430;
	color: #fff;
	text-align: center;
    color: white;
}


header h1 {
	font-size: 4.2em;
	margin: 0;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

footer p {
	margin: 0;
}

#navigation {
	display: block;
    text-transform: uppercase;
	margin: 0;
	padding: 1em;
	border-bottom: 1px #5d6f5d solid;
	border-top: 1px #5d6f5d solid;
	text-align: left;
	overflow: hidden;
}

section.overview {
    padding:2em 3em;
    border-radius: 7px;
}

#navigation, pre, code, section.overview {
	background-color: #2f4430;
    color:#9cd4a2;
}

#navigation a,
section.overview a {
    color:#9cd4a2;
    -webkit-transition : color 0.3s ease-in;
}


#navigation a:hover,
#navigation a:focus,
#navigation a:active,
section.overview a:hover,
section.overview a:focus,
section.overview a:active {
    color:#039b0a;
    -webkit-transition : color 0.3s ease-in;
}

#navigation.float {
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

#navigation[hidden] {
	display: none;
}

#navigation ul {
	margin-bottom: 0;
}

#navigation li {
	display: inline;
	font-size: 1.4em;
	font-weight: 700;
	white-space: nowrap;
	width: 60%;
	margin: 0;
	float: left;
}

#navigation li:nth-child(even) {
	width: 40%;
}

#navigation li:last-child {
	margin: 0;
}

#navigation a {
	text-decoration: none;
}

.subnav {
    position: absolute;
    left: -45em;
    text-align: right;
    width: 40em;
}

.subnav li {
    margin: 0;
    padding: 1.2em 0 0.5em 0;
}

.subnav a {
    text-decoration: none;
    padding: 0 1.5em 0.5em 1em; 
    background: url(underline.png) no-repeat 0em 1.3em;
    -webkit-transition: background-position 0.5s ease-out, color 0.5s ease-out;
}

.subnav a:hover {
    background-position: 4em 1.3em;
    -webkit-transition: background-position 0.5s ease-out ,color 0.5s ease-out;
}

/*
.subnav a:hover {
    border-bottom-color: red;
    -webkit-transition: border-bottom-color 1s ease-in-out;
}
.subnav a:hover {
    border-bottom-color: red;
    -webkit-transition: border-bottom-color 1s ease-in-out;
}

.subnav a:after {
    content: "";
    display: block;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    bottom: -0.4em;
    left: -0.4em;
    border-radius: 0.4em;
    background-color:#77b173;
}
.subnav a:hover:after {
    background-color: red;
    -webkit-transition: background-color 1s ease-in-out;
}

*/
section {
	margin: 0 5em 5em;
}

section.content {
    background-color: #dbe5d7;
    margin-bottom: 0;
    padding: 3em 0;
    position: relative;
    z-index: 10;
}

/* section:after {
	content: "";
	display: block;
	margin-top: 5em;
	margin: 5em -2em 0;
} */

section.content:after{
    content: "";
    display: block;
    width: 506px;
    height: 231px;
    margin: 0;
    background: transparent;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(./svg/wing.svg) ;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    bottom: 177px;
    left: -347px;
    opacity: 0.2;
    z-index: 5;
    -webkit-filter: hue-rotate(108deg);
}

section > h1 {
	position: relative;
	left: -1.1em;
}

section > h1:hover .permalink {
	visibility: visible;
}

section .permalink {
	text-decoration: none;
	color: #ccc;
	float: left;
	margin-right: 0.5em;
	visibility: hidden;
}

section .permalink:hover {
	color: #000;
}


/* Embedded Markdown Docs */
.embedded h1 {
	font-size: 2.2em;
}

.embedded h2 {
	font-size: 1.8em;
}

.embedded h3 {
	font-size: 1.6em;
	font-family: Menlo;
	font-weight: 700;
	margin: 2em 0 1em;
}

.embedded ul li {
	list-style-type: circle;
	margin-left: 26px;
}

button {
    color:white;
    border: 1px solid #5c8c5f;
    border-radius: 3px;
    background: #9cd4a2; 
    background: -moz-linear-gradient(top, #9cd4a2 0%, #9cd4a2 18%, #5c9e5e 78%, #5c9e5e 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cd4a2), color-stop(18%,#9cd4a2), color-stop(78%,#5c9e5e), color-stop(100%,#5c9e5e)); 
    background: -webkit-linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%); 
    background: -o-linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%);
    background: -ms-linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%); 
    background: linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%); 
}

button:hover,
button:focus,
button:active {
    background: #45b64a; 
    background: -moz-linear-gradient(top, #45b64a 0%, #376a38 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45b64a), color-stop(100%,#376a38)); 
    background: -webkit-linear-gradient(top, #45b64a 0%,#376a38 100%);
    background: -o-linear-gradient(top, #45b64a 0%,#376a38 100%);
    background: -ms-linear-gradient(top, #45b64a 0%,#376a38 100%); 
    background: linear-gradient(top, #45b64a 0%,#376a38 100%); 
}

.buttons {
	margin-top: 1.5em;
}

.button {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	background: #0b88d3;
	background-image: -webkit-linear-gradient(top, #008afb, #0b88d3);
	background-image: -moz-linear-gradient(top, #008afb, #0b88d3);
	background-image: linear-gradient(top, #008afb, #0b88d3);
	border-radius: 5px;
	border: 4px double #fff;
	font-family: "Droid Serif";
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.button:hover {
	background: #fc951e;
	background-image: -webkit-linear-gradient(top, #ffc629, #fc951e);
	background-image: -moz-linear-gradient(top, #ffc629, #fc951e);
	background-image: linear-gradient(top, #fc951e, #fc951e);
}

.button:active {
	background: #ffc629;
}

.button:first-child {
	margin-right: 1em;
}

/* Change Log Section */
.change-log li h2 {
	font-size: 1em;
	margin-bottom: 0.75em;
}

.change-log li li {
	font-size: 0.875em /* 14px/16px */;
	margin-left: 26px;
	list-style-type: circle;
}

.run {
	position: relative;
}

.run .eval {
	z-index: 100;
	position: absolute;
    top: 23px;
    left: -53px;
	cursor: pointer;
}

.run output {
	font-family: Menlo, mono-space;
	display: block;
	background-color: #fafafa;
	font-size: 1.4em; /* Fixes odd issue in FF */
	overflow: auto;
	overflow-y: hidden;
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	margin: 0 -3.2em 2em;
	padding: 1.5em 3.5em;
	border: 3px solid #eee;
	border-left: 0;
	border-right: 0;
	-webkit-transition: border-color 1.5s, background-color 1.5s;
	-moz-transition: border-color 1.5s, background-color 1.5s;
	-ms-transition: border-color 1.5s, background-color 1.5s;
	transition: border-color 1.5s, background-color 1.5s;
}

.run output.loaded {
	border-color: #fef5af;
	background-color: #fdfdea;
}

.ace_cursor.ace_hidden {
	opacity: 0!important;
}

.ace_editor .ace_sb{
    overflow-y: auto !important;
}

.ace_scroller {
    overflow-x: auto !important;
}


@media (min-width:340px) {
	#navigation {
		text-align: center;
	}

	#navigation li, #navigation li:nth-child(even) {
		width: auto;
		display: inline;
		padding-left: 1em;
		padding-right: 1em;
        border-left:1px solid #9CD4A2;
		float: none;
	}
	
	#navigation li:first-child {
		border-left-width:0;
	}
}

@media (min-width:35em) {

    
    header img {
        width: 281px;
    }

	#navigation li {
		font-size: 1.8em;
	}
    
    footer > div,
    header h1,
	section.content {
		max-width: 61em;
		margin-left: auto;
		margin-right: auto;
	}
	
    header h1 {
		font-size: 5.4em;
        padding: 2em 5.55em 0.27em 0.55em; /* placeholder for wing graphic */
		max-width: 5.75em; /* as above but with modifier for font-size */
	}
    
    footer > div {
        text-align: right;
        padding:2em 2em 2em 0;
    }
    
	section:after {
		margin-left: -4em;
		margin-right: -4em;
	}
	
	section pre {
		margin-left: -7em;
		margin-right: -7em;
		padding-left: 5em;
		padding-right: 2.5em;
        max-width:65em;
	}
}
