/* @override http://localhost:4000/css/global.css */

body {
	font: 62.5%/1 Lato, serif;
	padding: 0;
	margin: 0;
	color: #2f4430;
    background: #87c980; 
    background-image: url(./img/tile.png); 
    background-image: url(./img/tile.png) -moz-linear-gradient(left, #87c980 0%, #a5d5a6 50%, #87c980 100%);
    background-image: url(./img/tile.png) -webkit-gradient(linear, left top, right top, color-stop(0%,#87c980), color-stop(50%,#a5d5a6), color-stop(100%,#87c980));
    background-image: url(./img/tile.png) -webkit-linear-gradient(left, #87c980 0%,#a5d5a6 50%,#87c980 100%); 
    background-image: url(./img/tile.png) -o-linear-gradient(left, #87c980 0%,#a5d5a6 50%,#87c980 100%); 
    background-image: url(./img/tile.png) -ms-linear-gradient(left, #87c980 0%,#a5d5a6 50%,#87c980 100%);
    background-image: url(./img/tile.png) linear-gradient(left, #87c980 0%,#a5d5a6 50%,#87c980 100%);
}

i, em {
    font-family: "Lato italic", serif;
}

a {
	color: #2f4430;
    text-decoration:underline;
}

a:hover,
a:focus,
a:active {
    color:#039b0a;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p, pre, ul, ol {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: Forum, "Helvetica Neue";
	font-weight: 400;
	margin-bottom: 0.75em;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.8em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h3 {
	font-size: 2.2em;
}

p, li {
	font-size: 1.6em;
	line-height: 1.3em;
}

p, ul, ol {
	margin-bottom: 1em;
}

li {
	margin-bottom: 0.2em;
}

li li, li p {
	font-size: 1em;
}

ul {
	list-style-type: none;
}

ul li {
	padding-left: 0;
}

hr {
    border:0;
    border-bottom: 1px solid #ccc;
    margin: 2em 0 3em 0;
}

code {
	font-family: Inconsolata, monospace;
	font-size: 1em;
	padding: 2px 3px;
	color: #4d4d4c;
}

pre {
	font-size: 10px; /* Fixes odd issue in FF */
	overflow: auto;
	overflow-y: hidden;
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	margin: 0 -2em 2em;
	padding: 1.5em 3em;
	border: 10px solid #dbe5d7;
    border-radius: 17px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.45) inset;
    -moz-box-shadow:    4px 4px 5px rgba(0, 0, 0, 0.45) inset;
    -o-box-shadow:    4px 4px 5px rgba(0, 0, 0, 0.45) inset;
    box-shadow:         4px 4px 5px rgba(0, 0, 0, 0.45) inset;
}

pre code {
	position: relative;
	padding: 0;
	display: block;
	border-radius: 0;
	border: 0;
	font-size: 1.2em;
	line-height: 1.2em;
}

header {
  background : url(./img/tile.png); 
}

header,
footer {
	background-color: #2f4430;
	color: #fff;
	text-align: center;
    color: white;
}

header h1 {
	font-size: 4.2em;
	margin: 0;
    padding: 0.23em;
}

header a,
header a:hover,
header a:focus,
header a:active,
footer a {
    color: white;
    text-decoration: none;
}

footer p {
	margin: 0;
}

#navigation {
	display: block;
    text-transform: uppercase;
	margin: 0;
	padding: 1em;
	border-bottom: 1px #5d6f5d solid;
	border-top: 1px #5d6f5d solid;
	text-align: left;
	overflow: hidden;
}

#navigation.show-subnav-button {
    padding-bottom:0.5em;
}

section.overview {
    padding:2em 3.5em;
    border-radius: 7px;
}

#navigation, pre, code, section.overview {
	background-color: #2f4430;
    color:#9cd4a2;
}

#navigation a,
section.overview a {
    color:#9cd4a2;
    -webkit-transition : color 0.1s ease-in;
    -moz-transition : color 0.1s ease-in;
    -o-transition : color 0.1s ease-in;
    transition : color 0.1s ease-in;
}


#navigation a:hover,
#navigation a:focus,
#navigation a:active,
section.overview a:hover,
section.overview a:focus,
section.overview a:active {
    color:#039b0a;
    -webkit-transition : color 0.1s ease-in;
    -moz-transition : color 0.1s ease-in;
    -o-transition : color 0.1s ease-in;
    transition : color 0.1s ease-in;
}

#navigation.float {
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

#navigation.float h1 {
    text-transform: none; 
    margin:  0;
    padding-right: 1em;
    float: left;
    font-size: 1.8em;
    color: white;
    border-right:1px solid #9CD4A2;
    display: none; /* only shown above 35em */
}

#navigation.float h1 a {
    color: white;
}

#navigation[hidden] {
	display: none;
}

#navigation ul {
	margin-bottom: 0;
}

#navigation li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
      border-left:1px solid #9CD4A2;
      border-right:1px solid #9CD4A2;
      border-left-width:0;
  float: none;
}
	
#navigation li:last-child{
  border-right-width:0;
	margin: 0;
}

#navigation a {
	text-decoration: none;
}

#subnav {
    position: absolute;
    left: -42em;
    text-align: right;
    width: 40em;
}
    
#subnav.float {
    position: fixed;
    top: 6em;
    /* calculate left offset dynamically */
}


aside, 
#subnav,
#subnav.off-left  {
    margin-left : -100%;
    opacity: 0;
}
#subnav.show-nav {
    margin-left : 0;
    opacity : 1;
    -webkit-transition: margin-left,opacity 300ms ease-in-out;
    -moz-transition: margin-left 300ms ease-in-out;
    -o-transition: margin-left 300ms ease-in-out;
    -ms-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;
}

#subnav li {
    margin: 0;
    padding: 0.8em 0 0.5em 0;
}

#subnav a {
    text-decoration: none;
    padding: 0 1.25em 0.55em 1em; 
    background: transparent no-repeat 0em 1.2em;
   /* background-image: url('data:image/svg+xml;utf8,<svg width="403" height="8" xmlns="http://www.w3.org/2000/svg"><line stroke="#7DB378" stroke-width="2" x1="4" y1="4" x2="400" y2="4" /><circle fill="#7DB378" cx="4" cy="4" r="4" /></svg>'); */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAzIiBoZWlnaHQ9IjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGxpbmUgc3Ryb2tlPSIjN0RCMzc4IiBzdHJva2Utd2lkdGg9IjIiIHgxPSI0IiB5MT0iNCIgeDI9IjQwMCIgeTI9IjQiIC8+PGNpcmNsZSBmaWxsPSIjN0RCMzc4IiBjeD0iNCIgY3k9IjQiIHI9IjQiIC8+PC9zdmc+');
    -webkit-transition: background-position 0.3s ease-out, color 0.3s ease-out;
    -moz-transition: background-position 0.3s ease-out, color 0.3s ease-out;
    -o-transition: background-position 0.3s ease-out, color 0.3s ease-out;
    transition: background-position 0.3s ease-out, color 0.3s ease-out;
}

#subnav a:hover {
    background-position: 4em 1.2em;
    -webkit-transition: background-position 0.3s ease-out, color 0.3s ease-out;
    -moz-transition: background-position 0.3s ease-out, color 0.3s ease-out;
    -o-transition: background-position 0.3s ease-out, color 0.3s ease-out;2
    transition: background-position 0.3s ease-out, color 0.3s ease-out;
}

aside,
section {
	margin: 0 3.5em 3.5em;
}

section.content {
    background-color: #dbe5d7;
    margin-bottom: 0;
    padding: 3em 0;
    position: relative;
    left: 0;
    -webkit-transition: left 300ms ease-in-out;
    -moz-transition: left 300ms ease-in-out;
    -o-transition: left 300ms ease-in-out;
    -ms-transition: left 300ms ease-in-out;
    transition: left 300ms ease-in-out;
}



section.content:after{
  content: "";
    display: block;
    width: 506px;
    height: 231px;
    margin: 0;
    position: absolute;
    bottom: 177px;
    left: -347px;
    z-index: -1;
    background: transparent;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(./svg/nodewing.svg) ;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    opacity: 0.2;
}

section > h1 {
	position: relative;
	left: -1.1em;
}

section > h1:hover .permalink {
	visibility: visible;
}

section .permalink {
	text-decoration: none;
	color: #ccc;
	float: left;
	margin-right: 0.2em;
	visibility: hidden;
    font-family: Code2000, "DejaVu Sans", "DejaVu Sans Bold", "DejaVu Sans Bold Oblique", "DejaVu Sans Condensed", "DejaVu Sans Condensed Bold", "DejaVu Sans Condensed Bold Oblique", "DejaVu Sans Condensed Oblique", "DejaVu Sans Mono", "DejaVu Sans Mono Bold", "DejaVu Sans Oblique", "EversonMono", "EversonMono-Oblique", "LastResort", "Symbola"
}

section .permalink:hover {
	color: #000;
}

.project-name {
    font-family: 'Forum', serif;
    font-size: 162.5%;
}

.overview .project-name {
    color: white;
}


.quote blockquote, .quote cite {
    text-align:center;
    display:block;
}

.quote blockquote{
    font-size: 1.5em;
    line-height: 1.46em;
    padding: 0 3em;
}

.quote blockquote:before {
    content: "\201C"
}
.quote blockquote:after {
    content: "\201D"
}

.quote cite {
    font-size: 1.3em;
    font-style: normal;
}


/* Hanging indent */

.embedded > ul,
.embedded > ul {
    margin-left: -1em;
}

.embedded > ol,
.embedded > ol {
    margin-left: 1.5em;
}

article > p,
section > p {
    padding-left: 1em;
}

article > p:first-of-type,
section > p:first-of-type,
article > h2 + p,
.embedded > h3 + p,
.embedded > h4 + p,
.embedded > h5 + p {
    text-indent: -1em;
}



/* Embedded Markdown Docs */
.embedded h1 {
	font-size: 2.2em;
}

.embedded h2 {
	font-size: 1.8em;
}

.embedded h3 {
	font-size: 1.6em;
	margin: 2em 0 1em;
}

.embedded h4{
	font-size: 1.5em;
	margin: 2em 0 1em;
}

.embedded h5{
	font-size: 1.4em;
	margin: 2em 0 1em;
}

.embedded ul li {
	list-style-type: circle;
	margin-left: 26px;
}

.embedded p.image-left,
.embedded p.image-right {
    text-indent: 0;
    padding-left: 0;
}

.embedded .image-left img{
    float: left;
    margin: 0 1em 1em 0;
}

.embedded .image-right img{
    float: right;
    margin: 0 0 1em 1em;
}

.embedded .image-right:before,
.embedded .image-right:after,
.embedded .image-left:before,
.embedded .image-left:after {
    content:"";
    display:table;
}
.embedded .image-left:after,
.embedded .image-right:after {
    clear:both;
}

button {
    color:white;
    border: 1px solid #5c8c5f;
    border-radius: 3px;
    background: #9cd4a2; 
    background: -moz-linear-gradient(top, #9cd4a2 0%, #9cd4a2 18%, #5c9e5e 78%, #5c9e5e 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cd4a2), color-stop(18%,#9cd4a2), color-stop(78%,#5c9e5e), color-stop(100%,#5c9e5e)); 
    background: -webkit-linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%); 
    background: -o-linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%);
    background: -ms-linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%); 
    background: linear-gradient(top, #9cd4a2 0%,#9cd4a2 18%,#5c9e5e 78%,#5c9e5e 100%); 
}

button:hover,
button:focus,
button:active {
    background: #45b64a; 
    background: -moz-linear-gradient(top, #45b64a 0%, #376a38 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45b64a), color-stop(100%,#376a38)); 
    background: -webkit-linear-gradient(top, #45b64a 0%,#376a38 100%);
    background: -o-linear-gradient(top, #45b64a 0%,#376a38 100%);
    background: -ms-linear-gradient(top, #45b64a 0%,#376a38 100%); 
    background: linear-gradient(top, #45b64a 0%,#376a38 100%); 
}

.buttons {
	margin-top: 1.5em;
    margin-left: -1em;
}

.button {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	background: #B8810D;
	background-image: -webkit-linear-gradient(top, #B8810D, #D59F0D);
	background-image: -moz-linear-gradient(top, #B8810D, #D59F0D);
	background-image: -o-linear-gradient(top, #B8810D, #D59F0D);
	background-image: linear-gradient(top, #B8810D, #D59F0D);
	border-radius: 5px;
	border: 2px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size:112.5%;
}

.button:hover {
	background: #B8810D;
    color:white;
	background-image: -webkit-linear-gradient(top, #B8810D, #E6C026);
	background-image: -moz-linear-gradient(top, #B8810D, #E6C026);
	background-image: -o-linear-gradient(top, #B8810D, #E6C026);
	background-image: linear-gradient(top, #B8810D, #E6C026);
    -webkit-transition: background-image 0.3s ease-out;
}

.button:active {
	background: #E6C026;
    color:white;
}

.button .version{
    color: #315a2f;
    font-size:77%;
}

.button:first-child {
	margin-right: 1em;
}

.icon {
    height: 0;
    width: 24px;
    padding-top: 24px;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    background:#2D432E;
    background-image: url(./img/button-icon-sprite.png);
    background-image: url(./img/button-icon-sprite.png) -moz-linear-gradient(top, #2d432e 0%, #152e16 100%);
    background-image: url(./img/button-icon-sprite.png) -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d432e), color-stop(100%,#152e16));
    background-image: url(./img/button-icon-sprite.png) -webkit-linear-gradient(top, #2d432e 0%,#152e16 100%);
    background-image: url(./img/button-icon-sprite.png) -o-linear-gradient(top, #2d432e 0%,#152e16 100%);
    background-image: url(./img/button-icon-sprite.png) -ms-linear-gradient(top, #2d432e 0%,#152e16 100%);
    background-image: url(./img/button-icon-sprite.png) linear-gradient(top, #2d432e 0%,#152e16 100%);
    background-repeat: no-repeat;
    background-size: 37px 200px; /* 2/3 size */
    border: 1px solid #152E16;
}

.show-subnav .icon{
    background-position: 3px 5px;
    float: left;
}

#navigation li.show-subnav {
    float: left;
    margin-top: -0.3em;
    border-right:0;
}

#navigation.show-subnav-button li.show-subnav + li {
    border-left-width:1px;
}

/* Change Log Section */
.change-log li h2 {
	font-size: 1em;
	margin-bottom: 0.75em;
}

.change-log li li {
	font-size: 0.875em /* 14px/16px */;
	margin-left: 26px;
	list-style-type: circle;
}

.run {
	position: relative;
}

.run .eval {
	z-index: 100;
	position: absolute;
    top: auto;
    left: auto;
    bottom: 104px;
    right: -6px;
	cursor: pointer;
}

.run output {
	font-family: Menlo, mono-space;
	display: block;
	background-color: #DBE5D7;
	font-size: 1.4em; /* Fixes odd issue in FF */
    min-height:1em;
	overflow: auto;
	overflow-y: hidden;
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	margin: 0 -3.2em 2em;
	padding: 1.5em 3.5em;
	border: 3px solid #eee;
	border-left: 0;
	border-right: 0;
	-webkit-transition: border-color 1.5s, background-color 1.5s;
	-moz-transition: border-color 1.5s, background-color 1.5s;
	-o-transition: border-color 1.5s, background-color 1.5s;
	-ms-transition: border-color 1.5s, background-color 1.5s;
	transition: border-color 1.5s, background-color 1.5s;
}

.run output.loaded {
	border-color: #fef5af;
	background-color: #fdfdea;
}

aside li,
.buttons .badge {
    float: left;
    margin-right: 1em;
}

aside:after {
    content: "";
    display: block;
    clear: both;
}

aside li  a,
aside li  span,
.buttons .badge {
    width: 3.025em;
    height: 0em;
    border: 0.625em solid #cbdac5;
    border-radius: 3.025em;
    overflow: hidden;
    padding-top: 3.025em;
    display:block;
    background: url(./img/icon-sprite.png) no-repeat;
    -webkit-transition: border-color 0.3s ease-out;
}

.buttons .badge {
    border-width: 0.2em;
    width: 2.5em;
    border-radius: 2.5em;
    padding-top: 2.5em;
}

aside li  a:hover,
.buttons .badge:hover {
    border-color: #DBE5D7;
    -webkit-transition: border-color 0.3s ease-out;
}

aside li.github a {
    background-position: -5px -3px;
}

aside li.twitter a{
    background-position: -2px -128px;
}

aside li.code-javascript span {
    background-position: -6px -246px;
}

.buttons .badge.github {
    background-position: -1px -359px;
}

aside li.code-html5 span {
    background-position: -5px -240px;
}

aside li.code-css span {
    background-position: -5px -240px;
}

.ace_cursor.ace_hidden {
	opacity: 0!important;
}

.ace_editor {
	font-family: Inconsolata, monospace !important;
    font-size: 1.6em !important;
}

.ace_editor .ace_sb {
    overflow-y: auto !important;
}

.ace_scroller {
    overflow-x: auto !important;
}


@media (min-width:340px) {
	#navigation {
		text-align: left;
		/* text-align: center; */
	}  
    
}


@media (min-width:35em) {
    

  header img {
    width: 281px;
  }

	#navigation li {
		font-size: 1.8em;
	}

  #navigation ul,
  footer > div,
  header h1,
	section.content {
		max-width: 61em;
		margin-left: auto;
		margin-right: auto;
	}
    


  header h1 {
		font-size: 5.4em;
    padding: 2em 5.55em 0.27em 0.55em; /* placeholder for wing graphic */
    background-image: url(./svg/nodewing.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 280px 126px;
    max-width: 5.75em;
    background-color: transparent;
		max-width: 5.75em; /* as above but with modifier for font-size */
	}
    
  footer > div {
      text-align: right;
      padding:2em 2em 2em 0;
  }
    
	section:after {
		margin-left: -4em;
		margin-right: -4em;
	}
	
	section pre {
		margin-left: -5.6em;
		margin-right: -5.6em;
		padding-left: 5em;
		padding-right: 2.5em;
    max-width:65em;
	}
   
  #navigation.float h1 {
    font-size: 2.6em;
    margin-top: -0.1em;
    display: block;
  }
  
  .run .eval {
      z-index: 100;
      position: absolute;
      top: 23px;
      left: -40px;
      bottom: auto;
      right: auto;
      cursor: pointer;
  }
  
  .icon {
      width: 31px;
      padding-top: 31px;
      border-radius: 7px;
      background-size: auto;
  }
  .show-subnav .icon{
      background-position: 4px 6px;
  }
  
  #navigation li.show-subnav{
      display:none;
  }
  #navigation.show-subnav-button  li.show-subnav{
      display:block;
  }
  
}

@media (min-width:52em) {

    #subnav.off-left  {
        margin-left : -100%;
    }
    
    aside,
    #subnav,
    #subnav.show-nav {
        margin-left: 0;
        opacity : 1;
    }
    

    aside {
        position: absolute;
        top: 3em;
        right: -10em;
        margin: 0;
    }
    
    aside li {
        float: none;
        margin-right: 0;
    }
    
    aside li  a,
    aside li  span{
        border-color: #DBE5D7;
        margin-bottom: 1.5em;
    }

    aside li  a:hover{
        border-color: #cbdac5;
    }
        
    aside:after{
        width: 90px;
        height: 240px;
        margin: 0;
        background: transparent;
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url(./svg/icon-stem.svg) ;
        position: absolute;
        bottom: -210px;
        left: -43px;
    }    
    
    
}