---
font: 'Advent Pro'
header_font: 'Advent Pro'

background_tile: url('./img/tile.png')

#colours

copy_colour: "#2F475F" 
lowlight_background: "#2F475F" 
lowlight_colour: "#9CCDD2"
lowlight_border: "#3F6B98" 
body_background_colour: "#88B8DC"
background_mid_stop: "#97C2E4"
link_colour: "#006FB0"
subnav_link_colour: "#006FB0"
link_colour_alt: "#5DC4FF"
content_bg_colour: "#CDDEF2"
content_hover_colour: "#ffffff"
nav_border_colour: "#A4CBD5"
highlight_colour: "#fff"
greyed_out: "#006FB0"
code_colour: "#9CCDD2"
code_background: "#2F475F"
button_border: "transparent"
button_mid_stop: "#3f6594"
button_colour: "#20d1f1"
button_colour_highlight: "#3f6594"
large_button_colour: "#B8810D"
large_button_stop: "#D59F0D"
large_button_highlight: "#E6C026"
icon_colour: "#233547"
icon_stop: "#233547"
icon_border: "#152E16"
#badge_overlay: "#88B8DC"
badge_overlay: "rgba%28136%2C%20184%2C%20220%2C%200.5%29"  #url encoded for firefox
badge_border: "%23CDDEF2"  #url encoded for firefox

# logo area

header_font_size: 5.4 #em
logo_width: 280 #px
logo_height: 126 #px

# svg

# for main title svg
svg_asset: node_ocean.svg
svg_title_filter: none
svg_title_rotation: rotate(-18deg)
# for svg element on left hand side of content
svg_asset_size: "112%"
svg_asset_rotation: 93deg
svg_asset_left_pos: -336px
# for 'wings' above quote, if present
quote_svg_right_transform: rotate(80deg)
quote_svg_left_transform: rotate(-80deg) scaleX(-1)
quote_svg_left_pos: "46%"
quote_svg_right_pos: "46%"
quote_svg_right_mod: "15px"
quote_svg_grayscale: false

subnav_underline: 6C94B8
show_subnav_icon: 6C94B8
 
# svg element attaching twitter, github buttons to main content
icon_stem: CDDEF2


---

{% include global.css %}