---
font: 'Advent Pro'

#colours

copy_colour: "#2F475F" 
lowlight_background: "#2F475F" 
lowlight_colour: "#9CCDD2"
lowlight_border: "#3F6B98" 
body_background_colour: "#88B8DC"
background_mid_stop: "#97C2E4"
link_colour: "#006FB0"
link_colour_alt: "#5DC4FF"
content_bg_colour: "#CDDEF2"
content_hover_colour: "#ffffff"
nav_border_colour: "#A4CBD5"
highlight_colour: "#fff"
greyed_out: "#006FB0"
code_colour: "#9CCDD2"
code_background: "#2F475F"
button_border: "transparent"
button_mid_stop: "#3f6594"
button_colour: "#20d1f1"
button_colour_highlight: "#3f6594"
large_button_colour: "#B8810D"
large_button_stop: "#D59F0D"
large_button_highlight: "#E6C026"
icon_colour: "#233547"
icon_stop: "#233547"
icon_border: "#152E16"
badge_overlay: "#88B8DC"

# svg

# for main title svg
svg_asset: nodewing_alt.svg
svg_title_filter: none
svg_title_rotation: rotate(-18deg)
# for svg element on left hand side of content
svg_asset_size: "112%"
svg_asset_rotation: 93deg
# for 'wings' above quote, if present
quote_svg_right_transform: rotate(80deg)
quote_svg_left_transform: rotate(-80deg) scaleX(-1)
quote_svg_left_pos: "46%"
quote_svg_right_pos: 19.6em

# this is a base64 encoded svg - decode to make changes
subnav_underline: "'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAzIiBoZWlnaHQ9IjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGxpbmUgc3Ryb2tlPSIjNkM5NEI4IiBzdHJva2Utd2lkdGg9IjIiIHgxPSI0IiB5MT0iNCIgeDI9IjQwMCIgeTI9IjQiIC8+PGNpcmNsZSBmaWxsPSIjNkM5NEI4IiBjeD0iNCIgY3k9IjQiIHI9IjQiIC8+PC9zdmc+'"
  
# this is a base64 encoded svg - decode to make changes
show_subnav_icon: "'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxzdHlsZT4gbGluZSwgY2lyY2xlIHsgc3Ryb2tlOiAjNkM5NEI4OyBmaWxsOiAjNkM5NEI4OyB9IDwvc3R5bGU+IDxsaW5lIHkyPSI0IiB4Mj0iMjMiIHkxPSI0IiB4MT0iNCIgLz4gPGxpbmUgeTI9IjEwIiB4Mj0iMjMiIHkxPSIxMCIgeDE9IjQiIC8+IDxsaW5lIHkyPSIxNiIgeDI9IjIzIiB5MT0iMTYiIHgxPSI0IiAvPiA8Y2lyY2xlIHI9IjIuNSIgY3k9IjQiIGN4PSI0IiAvPiA8Y2lyY2xlIHI9IjIuNSIgY3k9IjEwIiBjeD0iNCIgLz4gPGNpcmNsZSByPSIyLjUiIGN5PSIxNiIgY3g9IjQiIC8+IDwvc3ZnPg=='"
 
# ./svg/icon-stem.svg
# this is a base64 encoded svg - decode to make changes
icon_stem: "'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAiIGhlaWdodD0iMjQwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8c3R5bGU+cGF0aCB7IHN0cm9rZToJI0NEREVGMjsgZmlsbDogbm9uZTsgc3Ryb2tlLXdpZHRoOiA5OyB9PC9zdHlsZT4gPHBhdGggIGQ9Im03Ny42NjUwMSwxLjY2OGMwLDAgNiw1Ni42NDA5OSAtMTUuMDk2MDEsOThjLTE4LjEzODk4LDM1LjYwOCAtMzQuMjM2OTgsNjcuNzIyOTkgLTM0LjIzNjk4LDY3LjcyMjk5cy0yMiw0MC42NjgwMyAtMjIsNzAiLz48L3N2Zz4='"

---

{% include global.css %}