---
font: 'Michroma'

background_tile: none

#colours

overview_inverse: false

copy_colour: "#000000" 
lowlight_background: "#F6A01A" 
lowlight_colour: "#000000"
lowlight_border: "#000000" 
body_background_colour: "#B8B7B5"
background_mid_stop: "#97C2E4"
link_colour: "#F6A01A"
subnav_link_color: "#F6A01A"
subnav_hover_color: "#FFE800"
nav_hover_color: "#FFE800"
content_bg_colour: "#FFE800"
content_hover_colour: "#ffffff"
nav_border_colour: "#000000"
highlight_colour: "#fff"
greyed_out: "#b8b7b5"
code_colour: "#9CCDD2"
code_background: "#653f16"
button_border: "transparent"
button_colour: "#B96F00"
button_colour_highlight: "#8A5609" 
button_hover_colour: "#DD911B" 
button_hover_highlight: "#ff9b00" 
large_button_colour: "#B8810D"
large_button_stop: "#D59F0D"
large_button_highlight: "#E6C026"
icon_colour: "#CC661A"
icon_stop: "#CC661A"
icon_border: "#CC661A"
#badge_overlay: "#88B8DC"
badge_overlay: "rgba%28246%2C160%2C26%2C0.5%29"  #url encoded for firefox
badge_border: "%23ffe800"  #url encoded for firefox

# logo area

header_font_size: 7.2 #em
logo_width: 350 #px
logo_height: 100 #px

# svg

# for main title svg
svg_asset: node_horus.svg
svg_title_filter: none
svg_title_rotation: rotate(0deg)
# for svg element on left hand side of content
svg_asset_size: "112%"
svg_asset_rotation: 59deg
svg_asset_left_pos: -408px
# for 'wings' above quote, if present
quote_svg_right_transform: rotate(46deg)
quote_svg_left_transform: rotate(-46deg) scaleX(-1)
quote_svg_left_pos: "46%"
quote_svg_right_pos: "47%"
quote_svg_right_mod: "15px"
quote_svg_grayscale: true

subnav_underline: FFE800
show_subnav_icon: FFE800
 
# svg element attaching twitter, github buttons to main content
icon_stem: ffe800


---

{% include global.css %}