---
layout: default
title: Project Name
---

           <!-- <section>
                 {% for post in site.posts reversed %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </section> -->
			<section>
				<h1><a id="getting-started" class="permalink" href="#getting-started">#</a> Getting Started</h1>
				{% for post in site.posts reversed %}
					{% if forloop.first %}
						<article class="embedded markdown">
						{{ post.content }}
						</article>
					{% endif %}
				{% endfor %}
			</section>
			<section>
				<h1><a id="download" class="permalink" href="#download">#</a> Download</h1>
				<p>The current version of GITHUB_PROJECT_NAME is <b>GITHUB_CURRENT_VERSION</b> you can download it below.</p>
				<p class="buttons">
					<a class="button" href="GITHUB_PROJECT_URL">GITHUB_PROJECT_NAME</a>
				</p>
			</section>
			<section class="change-log">
				<h1><a id="changelog" class="permalink" href="#changelog">#</a> Change Log</h1>
				<ul>
					<li>
						<h2>GITHUB_CURRENT_VERSION</h2>
						<ul>
							<li>Initial Release</li>
						</ul>
					</li>
				</ul>
			</section>
			<section>
				<h1><a id="reference" class="permalink" href="#reference">#</a> Reference</h1>
				<p>REFERENCE_OVERVIEW<p>
				{% for post in site.posts reversed %}
					{% unless forloop.first %}
						<article class="embedded markdown">
						{{ post.content }}
						</article>
					{% endunless %}
				{% endfor %}
			</section>
			
