<!doctype html>
<!--


  _____  __                               ___ __
 |     \|  |~-.~-~.-.-~-~.-~-~-~-~.-~-.-.'  _|  |.-~.~-.
 |  |   |     |  _  |   _|        |  _  |   _|  ||  |  |
 |_____/|__|__|___._|__| |__|__|__|___._|__| |__||___  |
                                                 |_____|

  dharmafly.com


-->

{% assign ishome = false %}
{% assign sectionname = "" %}
{% assign directory = "" %}
{% assign title = "" %}

{% assign sections = site.sections %}
{% assign relative_path = "." %}
{% assign page_path = "" %}
{% assign body_class = "home" %}
{% if page.layout_type == 'subpage' %}
    {% assign relative_path = ".." %}
    {% assign page_path = "../" %}
    {% assign body_class = page.layout_type %}
{% endif %}
{% if page.layout_type == 'absolute' %}
    {% assign relative_path = "" %}
    {% assign page_path = "" %}
    {% assign body_class = page.layout_type %}
{% endif %}

{% for section in sections %}
  {% if page.url == section.path %}
    {% if section.path == "/index.html" %}
      {% assign ishome = true %}
      {% assign title = site.project_name %}
    {% else %}
      {% assign sectionname = section.name %}
      {% assign title = sectionname | append:" : " | append:site.project_name %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if title == "" %}
  {% assign directories = page.url | split:"/" %}
  {% assign directory = directories | last %}
  {% if directory == "index.html" %}
    {% assign index = directories | size | minus:2 %}
    {% assign directory = directories[index] %}
  {% elsif directory == "404.html" %}
    {% assign directory = "404" %}
  {% endif %}

  {% assign title = directory | append:" : " | append:site.project_name %}
{% endif %}

<!--[if IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if lt IE 9 ]> <html class="ie ltIE9" lang="en"> <![endif]-->
<!--[if !IE ]><!-->
<html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <title>{{ title }}</title>
    <script>
      var satya = satya || {};
      satya.isIPad = navigator.userAgent.match(/iPad/i) != null;
      if(document.getElementsByName && !satya.isIPad){
        document.getElementsByName('viewport')[0]
          .setAttribute('content','width=device-width,initial-scale=0.75,user-scalable=no,maximum-scale=0.75');
      }
    </script>
    <!--[if lt IE 9]><script src="/javascript/html5shiv.js"></script><![endif]-->
    {% include fonts.liquid %}
    <link href="/css/{{ site.theme }}.css?v4" rel="stylesheet">
    {% for stylesheet in site.stylesheets %}
    <link href="{{ stylesheet.url }}" rel="stylesheet">
    {% endfor %}

    <link rel="shortcut icon" sizes="16x16" type="image/vnd.microsoft.icon" href="/img/{{ site.theme }}-favicon.ico">
    <link rel="apple-touch-icon" href="/img/{{ site.theme }}-apple-touch-icon.png">
  </head>

  <body class="{{ body_class }} loading">
    <header>
      <h1 class="title">
        <a href="/">
        {{ site.project_name }}
        </a>
      </h1>
    </header>

    <nav id="navigation">
      <ul>
        <li class="show-subnav"><a href="#subnav" class="icon">Go to navigation for this page</a></li>
        {% for section in sections %}
        <li>
            <a href="{{ section.path | remove_first:'index.html' }}"{% if page.url == section.path %} class="active"{% endif %}>
            {{ section.name }}
            </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <section class="content">
    {{ content }}

    {% if site.quote.quote %}
      <section class="quote">
        <blockquote>
            {{ site.quote.quote }}
        </blockquote>
        <cite>{{ site.quote.cite }}</cite>
      </section>
    {% endif %}
    </section>

    <footer>
      <div>
        <p>
          <em>by</em> <a href="http://dharmafly.com">Dharmafly</a>
        </p>
      </div>
    </footer>

    <script src="/javascript/font-loader.js"></script>

    <script>
      satya.narrowScreen = window.screen.width < 480;
      satya.isltIE10 = false;
      satya.relative_path = '{{ relative_path }}/';
      satya.noConflict = '{{ site.jquery_no_conflict }}' === 'true' || false;
    </script>

    <!--[if lt IE 10]>
      <script>
        satya.isltIE10 = true;
      </script>
    <![endif]-->

    <!--[if IE 9]>
      <script src="/javascript/IEshims.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascript/jquery-1.8.1.min.js"><\/script>')</script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/hijs.js"></script>
    <script src="/javascript/demo.js?v2"></script>

    {% for script in site.scripts %}
    <script src="{{ script.src }}"></script>
    {% endfor %}

    {% if site.ga_id %}
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.ga_id }}']);
      _gaq.push(['_trackPageview']);

      window.setTimeout(function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }, 500);
    </script>
    {% endif %}
  </body>
</html>
