.style0{
    fill:	#2F4430;
}
.style1, 
.style2{
    stroke:	#2F4430;
    stroke-width:	8;
    stroke-miterlimit:	10;
    fill:	none;
}
.style2{
    stroke-width:	4;
}

header .style0{
    fill:	#315a2f;
}
header .style1{
    stroke:	#315a2f;
}
header .style2{
    stroke:	#315a2f;
}