body{
    width: 1000px;
    height: 1000px;
}
body:after{
    width: 1000px;
    height: 1000px;
    /*margin:-1000px 0 0 -1000px;*/
	content: "";
	display: block;
    background: url(wing.svg);
    /*background: url(http://i620.photobucket.com/albums/tt283/nofhirabitz09/monkey.gif);*/
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}